/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif, -apple-system, BlinkMacSystemFont, Roboto;
  background-color: #fff; /* 薄いブルー */
  color: #333; /* ダークグレー */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .card {
    background-color: #ffffff;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 1px solid #ddd;
  }
}